Hr Automation Sys (1).json
{
  "name": "Hr Automation Sys",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hiring Automation Test Form",
        "formDescription": "When a candidate applies and selects a job role, the system automatically downloads their resume and retrieves the correct job description. It then uses AI to compare the resume against the job requirements, generating a suitability score. Finally, this evaluation is logged in our tracking sheet, and the system sends notifications to both the HR team and the applicant.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select Job Role:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Backend Developer"
                  },
                  {
                    "option": "Frontend Developer"
                  },
                  {
                    "option": "Sqa Engineer"
                  },
                  {
                    "option": "Data Scientist"
                  },
                  {}
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Resume",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -576,
        656
      ],
      "id": "6787cf7f-fe18-4f0d-b411-e58cca3939e8",
      "name": "On form submission",
      "webhookId": "d584bb4b-cf9c-4470-a501-fc9c80f71991"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"Upload Resume\"]",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -384,
        656
      ],
      "id": "712fc92f-55e4-487d-9faf-3c204587af74",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Backend Developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa9bc1af-97c0-4dc0-bdce-5e78455f10fd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd853a9f-bb34-406f-b715-a85ece0b7fe3",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Frontend Developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca7088bd-f0d1-4bde-8d58-a8bd253a010d",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Sqa Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81ee3c11-44db-44dd-946a-fc5963ddbfb0",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Data Scientist",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -240,
        608
      ],
      "id": "80c93111-22e1-49f4-af09-e80eef69bac0",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "8e1dfba7-f8de-4788-af02-df5ba9fad53f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "415c9fa5-ea98-4fae-8461-b81a7e0f348b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        192
      ],
      "id": "44ecad77-c906-4083-a350-36114ddc4f05",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        192
      ],
      "id": "36fe50f5-0605-4037-a235-03425acadef3",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        384
      ],
      "id": "c4c39f31-d159-41b4-8b1b-489cb012c7ca",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        592
      ],
      "id": "d459c4a2-0327-40f9-91d6-2c726a38d5c1",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        384
      ],
      "id": "a27ad93f-3b54-48ab-96af-9716e1eaf40a",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        592
      ],
      "id": "b30f06df-73ca-4332-87db-da77d50f0de6",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6pkPUrlIhAIkmUYw",
          "name": "Google Drive account 6"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        272
      ],
      "id": "16a39f58-7064-48e6-a8c1-994724212ba8",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "resume_documents_tool",
        "description": "The data represents information extracted from resume submitted through a form. Each record contains structured details such as the candidate’s name, contact information, educational background, work experience, professional summary, and key skills.\n\nThis data is used by the chatbot to analyze candidate profiles, assess their suitability for specific job roles, and assist in shortlisting decisions — such as whether a candidate should be called for a demo interview or moved to the next stage of recruitment.",
        "topK": "=10"
      },
      "id": "a5bc837d-ca43-4da5-baf7-67fcfb6eaa85",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1648,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1392,
        32
      ],
      "id": "1a2416cf-62ce-48a9-884a-6c82a6524ddf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1184,
        128
      ],
      "id": "9a5360ca-25d7-45f5-a7bc-04b54a00bc38",
      "name": "When chat message received",
      "webhookId": "83121cab-313b-45c9-805c-aee8684cbcf8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1360,
        224
      ],
      "id": "f21a8cef-48cc-4eb5-a015-e261205dbc2c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        592
      ],
      "id": "c6eff333-d4a7-45fa-8c38-efe6e22fb332",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1712,
        400
      ],
      "id": "2be60873-880e-4fc0-8a9d-8820da7b5b5a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1504,
        240
      ],
      "id": "2bcb9a23-6c44-49d6-b77f-45caa36e0726",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        496
      ],
      "id": "ee14b7dc-5820-4cc6-8a34-9dfc0efdae35",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        976,
        496
      ],
      "id": "7dedfd1f-8a9b-44aa-9555-a65e5868d0ea",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "atyssystemm",
          "mode": "list",
          "cachedResultName": "atyssystemm"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1408,
        416
      ],
      "id": "06a6edc7-eb80-4fea-89f0-407c773a4af4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lBTrqsnoyh3Syiii",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "atyssystemm",
          "mode": "list",
          "cachedResultName": "atyssystemm"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        784,
        288
      ],
      "id": "b205d7af-a4c7-43b6-8bcd-4259d7c2849e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lBTrqsnoyh3Syiii",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "LLM",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        832,
        80
      ],
      "id": "bdbe1012-e2eb-4e5f-8ac5-0f3af75564c8",
      "name": "Webhook",
      "webhookId": "864b6c4f-9260-4b4b-b65f-9a12991d4c90"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1728,
        32
      ],
      "id": "1bce3a55-11d3-4a19-9270-1f328fe3ad4f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"sessionId\": \"{{ $json.sessionId }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"chatInput\": \"{{ $json.chatInput }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        64
      ],
      "id": "43a3ae34-e485-49e4-a3cf-19e99df95de0",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b20102a-7607-4a2a-97f0-20f3ace3eec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ef003929c847968691c39fe8a46762385b4c67665dfa70ea60a194f5956210e"
  },
  "id": "dNCOo0ATM2c2KETv",
  "tags": []
}