Task (2).json
{
  "name": "Task",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Hiring Automation Test Form",
        "formDescription": "When a candidate applies and selects a job role, the system automatically downloads their resume and retrieves the correct job description. It then uses AI to compare the resume against the job requirements, generating a suitability score. Finally, this evaluation is logged in our tracking sheet, and the system sends notifications to both the HR team and the applicant.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select Job Role:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Backend Developer"
                  },
                  {
                    "option": "Frontend Developer"
                  },
                  {
                    "option": "Sqa Engineer"
                  },
                  {
                    "option": "Data Scientist"
                  },
                  {}
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Resume",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -752,
        272
      ],
      "id": "c491a1b6-7a8a-401b-90e4-74460c56e9d0",
      "name": "On form submission",
      "webhookId": "d584bb4b-cf9c-4470-a501-fc9c80f71991"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"Upload Resume\"]",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -560,
        272
      ],
      "id": "63d4db0f-53e8-40b8-9f4c-959e7359a7cf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Backend Developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fa9bc1af-97c0-4dc0-bdce-5e78455f10fd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd853a9f-bb34-406f-b715-a85ece0b7fe3",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Frontend Developer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca7088bd-f0d1-4bde-8d58-a8bd253a010d",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Sqa Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81ee3c11-44db-44dd-946a-fc5963ddbfb0",
                    "leftValue": "={{ $json['Select Job Role:'] }}",
                    "rightValue": "Data Scientist",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        224
      ],
      "id": "4f3b422c-d346-408c-9548-0217ce8f2fc6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -384
      ],
      "id": "38bae784-1abd-4265-ad0a-ae82d3462712",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -384
      ],
      "id": "c10ee21c-2321-4b8e-884c-c0e8d9529cc4",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -192
      ],
      "id": "a43c249f-2078-41e8-94e8-2db8a41f669b",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        -192
      ],
      "id": "85005925-1f5d-4db2-a36a-90bc4e02a3a0",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        0
      ],
      "id": "48d1c1ae-80a1-482d-8289-bd658edd6951",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('On form submission').item.json['Select Job Role:'] }}",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        208
      ],
      "id": "7d7a25b1-5033-4fa7-8dbb-eae718563337",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        0
      ],
      "id": "2b77f5a5-ccda-4dfc-9d75-b0becd8a3727",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        208
      ],
      "id": "617f5711-234f-44d4-abed-06b4f2bb72a3",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xyiIdYwHbKInGQIn",
          "name": "Google Drive account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        -352
      ],
      "id": "64320ed1-f9a4-486c-89d7-5357aac140e2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        -176
      ],
      "id": "ddc5f1f5-1042-4a35-9077-2b775cc77546",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "d733cc6a-dfdf-4dbf-86ae-0d33d4185765",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        240,
        224
      ],
      "id": "cee8091f-7e08-4e87-a9ae-b170337b3cef",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9884a774-d16d-427e-90f5-2f65afa6e2a9",
              "name": "job_description_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -160
      ],
      "id": "d1d6e6d9-9a51-4ce0-aac1-109133fca80d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9884a774-d16d-427e-90f5-2f65afa6e2a9",
              "name": "job_description_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -352
      ],
      "id": "cef1dd4e-8e32-44e8-b0c0-d5524cc50892",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9884a774-d16d-427e-90f5-2f65afa6e2a9",
              "name": "job_description_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        16
      ],
      "id": "b4166172-02ba-49b0-b1c5-446da955886c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9884a774-d16d-427e-90f5-2f65afa6e2a9",
              "name": "job_description_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        208
      ],
      "id": "b3a27399-6e9e-4aed-9c29-132ffcf0a560",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -112
      ],
      "id": "1318f9ba-7812-48e4-8ae5-99fb0962711b",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "resumefilterr",
          "mode": "list",
          "cachedResultName": "resumefilterr"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        864,
        -112
      ],
      "id": "abe12526-4a59-4c92-aec1-5215d14f4dfb",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "lBTrqsnoyh3Syiii",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        128
      ],
      "id": "360fd32b-15aa-4582-bee7-70b165fbdd3c",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "HFHhniPEASZ5ULZK",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        144
      ],
      "id": "4163aa23-9b5f-4ad0-afeb-b161437e72f8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "name": "resume_documents_tool",
        "description": "The data represents information extracted from resume submitted through a form. Each record contains structured details such as the candidate’s name, contact information, educational background, work experience, professional summary, and key skills.\n\nThis data is used by the chatbot to analyze candidate profiles, assess their suitability for specific job roles, and assist in shortlisting decisions — such as whether a candidate should be called for a demo interview or moved to the next stage of recruitment.",
        "topK": "=10"
      },
      "id": "dd953579-14d6-451f-a1ba-0940e75c6550",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1728,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=GOAL: Provide factual, concise data from the Vector Store Tool. Use ONLY retrieved chunks.\n\nSTRICT OPERATIONAL RULES:\nNo Hallucinations: Use only provided data. If not found, say: \"I'm sorry, that information is not available in the provided resume data.\"\n\nKeyword Response: If input is a single word (e.g., \"Skills\"), summarize that section from the data.\n\nNeutrality: Short, factual responses only. No flowery language or candidate \"selling.\"\n\nNo Loops: Never ask for a question or confirm these rules. Immediately provide the answer.\n\nFORMATTING:\nUse Bullet Points for lists.\n\nBold all Dates, Job Titles, and University Names.\n\nLimit: Max 150 words.\n\nEXECUTION COMMAND:\nSearch the tool for: {{ $json.chatInput }} and output the result following the rules above.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1472,
        -336
      ],
      "id": "8fcc238a-1f49-49be-ba2d-d1c9e796a26b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        1264,
        -240
      ],
      "id": "5a4c3191-87e1-4566-9c20-9b65c2e6e6d1",
      "name": "When chat message received",
      "webhookId": "83121cab-313b-45c9-805c-aee8684cbcf8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        -144
      ],
      "id": "ec766be0-4901-4cac-b4f7-dd4bd1a02227",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        32
      ],
      "id": "5b823ef9-ae08-4084-a208-eacfc83d64e9",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "resumefilterr",
          "mode": "list",
          "cachedResultName": "resumefilterr"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1488,
        48
      ],
      "id": "31742194-07b6-4ea8-b784-0be0ac0700be",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "lBTrqsnoyh3Syiii",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1424,
        224
      ],
      "id": "e14be6e9-8b32-4862-8f25-b2d860c3f23e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rJtnecfHkOXwoWj9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        []
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08ba89fd-21fa-4474-a531-65947501bfb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ef003929c847968691c39fe8a46762385b4c67665dfa70ea60a194f5956210e"
  },
  "id": "yKBTYhL9vytZtqGx",
  "tags": []
}